%ul#chat.list-group
  - if remote.authorization.is_authorized?("chat", @user)
    %li#chat_title.list-group-item
      = form_for :remote, :url => remote_chat_path(remote), remote: true do |f|
        .input-group.input-group-sm
          = hidden_field_tag :username, username
          = text_field_tag :chat_message, "", :class => 'form-control', placeholder: 'enter a chat message here...', html: {:autocomplete => "off"}
          %span.input-group-btn
            = submit_tag "Send", class: "btn btn-landing"
        #chat_character_limit 500 characters left
  %li#chat_messages.list-group-item
    %table#chat_table.table
      %tbody#chat_table_body
        %tr
          %td.small.grey-text 
            - if remote.authorization.is_authorized?("chat", @user)
              Welcome to Fremote chat.  If you would like a dedicated username for the chat, sign up for an account!
            - else
              = "Welcome to Fremote chat. You are a #{user_type(remote, @user)} of this remote, so you do not have permission to chat."
              You must be any of these to use the chat: 
              - remote.authorization.permissions_by_user_type('chat').each do |user_type, permitted|
                - if permitted
                  = "#{user_type} " 
