%ul#playlist_group.list-group.panel
  %li.list-group-item.video-heading
    %h3.panel-title Playlist
    - if remote.authorization.is_authorized?("playlist", current_user)
      %button.btn.btn-noborder.right#clear_playlist Clear Playlist
  - if remote.authorization.is_authorized?("playlist", current_user)
    %li.list-group-item
      = form_for :playlist, url: remote_playlist_path(remote.remote_id), remote: true, html: { id: "playlist_form" } do |f|
        .input-group.input-group-sm
          = hidden_field_tag :username, username
          = text_field_tag :url, "", :class => 'form-control', placeholder: 'add a url to the playlist here...', html: {:autocomplete => "off"}, id: "playlist_url_field"
          %span.input-group-btn
            = submit_tag "Add", class: "btn btn-inline"
  - else
    %p.small.grey-text.padding
      = "You are a #{user_type(remote, @user)} of this remote, so you do not have permission to add to this playlist."
      You must be any of these to use the playlist: 
      - remote.authorization.permissions_by_user_type('playlist').each do |user_type, permitted|
        - if permitted
          = "#{user_type} " 

  %li.list-group-item.video-body
    %ol#playlist.sortable.list

  :javascript
    var authorized = "#{remote.authorization.is_authorized?("playlist", current_user)}"