#on_landing
	#center_column
		.container
			.tab-content
				#landing.tab-pane.active.fade.in
					%p.left create a remote
					= form_for :remote, :url => { :controller => 'remotes', :action => 'create' }, :html => {:id => "new_remote"} do |f|
						.input-group.full-width
							= hidden_field_tag "quick_remote", "true"
							= text_field_tag :video_url, "", :class => 'form-control', placeholder: 'enter a video url here...'
							%span.input-group-btn
								= submit_tag "Create Remote", class: "btn btn-inline"
					%p.right and watch videos together
		.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
			%p
				%h5.text-align-center.light-green-text
					We support videos from:
			= image_tag("providers.png", class: "img-responsive")
			%p.text-align-center
				%br
				%script{async: "", src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
				%ins.adsbygoogle{"data-ad-client" => "ca-pub-2416283885970714", "data-ad-slot" => "9719555789", style: "display:inline-block;width:468px;height:60px"}
				:javascript
					(adsbygoogle = window.adsbygoogle || []).push({});