#center_column
	%video#player.video-js.vjs-default-skin{controls: "", "data-setup" => "{ \"techOrder\": [\"#{@remote.provider.downcase}\"], \"src\": \"#{@remote.url}\" }", height: "360", preload: "auto", src: "", width: "640"}

	#video_info.panel.panel-default
		.panel-heading
			%h3.panel-title #{@remote.title}
		.panel-body
			%p
				#{@remote.description}
			%p
				%a{href: @remote.url}
					Watch on #{@remote.provider}
			- if @remote.admin_only == false || @remote_user
				%span.label.label-success You are allowed to use this remote!
		%ul#chat.list-group
			%li#chat_title.list-group-item
				= form_for :remote, :url => { :controller => 'remotes', :action => 'chat' }, remote: true do |f|
					.input-group.input-group-sm
						= hidden_field_tag :username, @username
						= text_field_tag :chat_message, "", :class => 'form-control', placeholder: 'enter a chat message here...', html: {:autocomplete => "off"}
						%span.input-group-btn
							= submit_tag "Send", class: "btn btn-success"
			%li#chat_messages.list-group-item
				%table#chat_table.table
					%tbody#chat_table_body
						%tr
							%td.small.grey-text Welcome to Fremote chat.  If you would like a dedicated username for the chat, sign up for an account!

	- if current_user
		#owner_controls.panel.panel-success
			.panel-heading
				%h3.panel-title Remote Owner Controls
			.panel-body
				= form_for(@remote, remote: true, :html => {:id => "owner_controls_form"}) do |f|
					.checkbox
						%label
							Owner-only Controls #{f.check_box :admin_only}

	:javascript
		videojs('player', { "techOrder": ["#{@remote.provider.downcase}"], "src": "#{@remote.url}" }).ready(function() {
			this.one('ended', function() {
					this.src('#{@remote.url}')
			})

			$('#owner_controls_form').on('click', function(){
				$('#owner_controls_form').submit()
			})

		})
		var Remote = #{@remote.to_json}
		var user = '#{@identifier}'
