#center_column
	%video#player.video-js.vjs-default-skin{controls: "", "data-setup" => "{ \"techOrder\": [\"#{@remote.provider.downcase}\"], \"src\": \"#{@remote.url}\" }", height: "360", preload: "auto", src: "", width: "640"}

	#owner_controls.panel.panel-default
		.panel-heading
			%h3.panel-title #{@remote.title}
		.panel-body
			%p
				#{@remote.description}

	- if current_user
		#owner_controls.panel.panel-success
			.panel-heading
				%h3.panel-title Remote Owner Controls
			.panel-body
				= form_for(@remote, remote: true, :html => {:id => "owner_controls_form"}) do |f|
					.checkbox
						%label
							Owner-only Controls #{f.check_box :admin_only}

	:javascript
		videojs('player', { "techOrder": ["#{@remote.provider.downcase}"], "src": "#{@remote.url}" }).ready(function() {
			this.one('ended', function() {
					this.src('#{@remote.url}')
			})

			$('#owner_controls_form').on('click', function(){
				$('#owner_controls_form').submit()
			})

		})

%script{:type=>"text/javascript"}
	:plain
		var Remote = #{@remote.to_json}
		Remote.update = function(){
			$.ajax({
				type: 'POST',
				url: '/remotes/' + Remote.remote_id,
				data: { _method:'PUT', status: Remote.status, start_at: Remote.start_at, sender: user },
				dataType: 'JSON'
			})
		}

		var source = new EventSource(Remote.remote_id + '/stream')

		var user = Math.floor((Math.random()*10000)+1)

		var send = true

		var player = videojs('player')

		player.ready(function(){

			player.on('play', function(){
				Remote.status = 1
				Remote.start_at = player.currentTime()
				Remote.update()
			})

			player.on('pause', function(){
				Remote.status = 2
				Remote.start_at = player.currentTime()
				Remote.update()
			})

			player.on('timeupdate', function(){
				player.loadingSpinner.hide()
			})

		})

		source.addEventListener(Remote.remote_id, function(event){
			var data = JSON.parse(event.data)
			console.log(data)
			console.log(data.sender == user)
			if (data.sender != user){
				player.currentTime(data.start_at)
				if (data.status == -1){
					player.pause()
				} else if (data.status == 1){
					player.play()
				} else if (data.status == 2){
					player.pause()
				}
			}

		})