#center_column
  #show_remote
    .row
      .col-md-8.col-sm-12
        = render :partial => 'video', :locals => { :remote => @remote, :remote_user => @remote_user }
        = render :partial => 'canvas', :locals => { :remote => @remote, :user => @user }
      .col-md-4.col-sm-12
        = render :partial => 'chat', :locals => { :username => @username, :remote => @remote }
    .row
      .col-md-8.col-sm-12
        = render :partial => 'playlist_info', :locals => { :remote => @remote, :remote_user => @remote_user }
      .col-md-4.col-sm-12
        = render :partial => 'watchers', :locals => { :remote => @remote }
    .row
      .col-md-12.bottom
        = render :partial => 'playlist', :locals => { :remote => @remote, :username => @username }

  :javascript
    var Remote = #{@remote.to_json}
    var user = '#{@identifier}'