%p.navbar-text.pull-right
  - if user_signed_in?
    Welcome,
    = succeed "." do
      %strong= current_user.name
    = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
    |
    = link_to 'New remote', new_remote_path, :class => 'navbar-link'
    |
    = link_to 'View remotes and memberships', user_path(sanitized_name(current_user)), :class => 'navbar-link'
    |
    \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
  - else
    = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
    |
    \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}