!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Fremote"
    %meta{content: content_for?(:description) ? yield(:description) : "Fremote", name: "description"}/
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_pluggable_tag
    = csrf_meta_tags
  %body
    %header= render 'layouts/navigation'
    %main{role: "main"}
      = render 'layouts/messages'
      = yield
      .spacer
    #footer.muted{style: "text-align: center;"}
      %p 
        Fremote © 2014  · 
        %a{href: "http://github.com/Ravenstine/fremote"} GitHub