<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fremote" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Fremote" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <div id="footer" style="text-align: center;" class="muted">
      Fremote &copy; 2014 &nbsp;&middot;&nbsp; <a href="http://github.com/Ravenstine/fremote">GitHub</a>
    </span>
    <%= javascript_include_tag "remotes", "data-turbolinks-track" => false %>
  </body>
</html>
